@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto+Slab:wght@100..900&family=Spicy+Rice&display=swap');

@font-face {
    font-family: 'Roadster Script';
    src: url('fonts/RoadsterScript-GOPGq.eot');
    src: url('fonts/RoadsterScript-GOPGq.eot?#iefix') format('embedded-opentype'),
        url('fonts/RoadsterScript-GOPGq.woff2') format('woff2'),
        url('fonts/RoadsterScript-GOPGq.woff') format('woff'),
        url('fonts/RoadsterScript-GOPGq.ttf') format('truetype'),
        url('fonts/RoadsterScript-GOPGq.svg#Roadster Script') format('svg');
    
  }

  /* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    background-color:#fcfcf4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Generic project styles */
    color: #5e5d5d;
    font-family: 'Roboto Slab', georgia, serif;
    font-weight: Regular 400;
}

h2, h3 {
    font-family: 'Mouse Memoirs', georgia, serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #5e5d5d;
}

.hidden-heading {
    display: none;
}
/* Creates an option to use a span to insert 'Ace' logo inline */
.in-line-logo {
    font-family: 'Roadster Script', 'Spicy Rice', Georgia, serif;
    letter-spacing: 2px;
    color: #29796d;
    text-transform: none;
}
/* Link styling to remove underline and turn green when hover over it*/
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color:#29796d
}

/* Header, menu, nav bar and toggle features, and footer styling adapted from CI Love Running Walkthrough Project */

/* Header */

 #logo {
    font-family: 'Roadster Script', 'Spicy Rice', Georgia, serif;
    font-size: 250%;
    letter-spacing: 2px;
    color: #29796d;
    padding-top: 10px;
  }

  #logo-2 {
    font-family: 'Roboto Slab';
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 900;
    visibility: hidden;
  }

  header {
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #787878;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #fcfcf4;
}

#menu {
    list-style-type: none;
    font-size: 100%;
    letter-spacing: 2px
}

#menu > li {
    margin-bottom: 10px;
}
.active {
    border-bottom: 1px solid #29796d;
}

/* navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #fcfcf4;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 1px #787878;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #29796d;
}

/* Main content */
main {
/* Expand main element so it takes up surplus space and pushes footer down to bottom*/
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

/* Hero section */

#hero {
    height: 500px;
    width: 100%;
    background: url("../images/ace-dog-walks-hero-image.webp") no-repeat center/cover;
    position: relative;
}

#hero-cover-text {
/* Last rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(41, 121, 109, 0.4);
    font-size: 150%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    max-width: 350px;
    min-height: 120px;
    padding: 20px 10px 20px 20px;
}

#hero-cover-text > h3 {
/* Targets the text with id cover-text specifically*/
    color: #fcfcf4;
    text-transform: none;
}

/* Intro paragraph */

#ace-intro p {
    padding: 0 10px 0 10px;
    margin-bottom: 1rem;
    margin: 10px;
    text-align: center;
}


/* Bio section */
#bio > h2 {
    text-align: center;
    font-size: 175%;
    margin-top: 10px;
    margin-bottom: 1rem;
}

#circle-background-image {
    background: url("../images/hannah-bio-small.webp") no-repeat center/cover;
    width: 80vw;
    height: 80vw;
    margin: 15px;
    margin-top: 0;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

#bio-image {
    display: flex;
    justify-content: center;
}

#bio-text {
    margin: auto 20px;
    line-height: 1.25rem;
}

#bio-text h3 {
    color: #29796d;
    text-align: center;
    font-size: 140%;
    text-transform: none;
}

#bio-text i {
    color: #29796d;
    font-size: 90%;
    padding-bottom: 10px;
}

#bio-text p {
    margin-bottom: 1rem;
    text-align: center;
}

/* Reasons section styling*/
#reasons {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

#reasons h3 {
    font-size: 140%;
    color:#5e5d5d;
    padding-bottom: 5px;
    text-transform: none;
}

.reasons-box {
    background-color: rgba(41, 121, 109, 0.2);
    margin: 0 15px 15px 15px;
    padding: 15px;
    color:#5e5d5d;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.reasons-box ul {
    list-style-type: none;
}

.reasons-box i {
    font-size: 80%;
    padding-right: 3px;
    color: #29796d;
}

#dog-reasons-image {
    background: url("../images/ace-dog-walks-dog-reasons.webp") no-repeat center/cover;
    height: 300px;
    margin: 15px 15px 0 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#owner-reasons-image {
    background: url("../images/ace-dog-walks-owner-reasons.webp") no-repeat center/cover;
    height: 300px;
    margin: 15px 15px 0 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Gallery styling */

 #gallery-heading {
    text-align: center;
    margin: 15px 15px 8px 15px;
    font-size: 120%;
    line-height: 1.1;
 }

 #photos {
    margin: 0 3px;
    margin-bottom: 15px;
 }

#photos img {
    width: 100%;
    line-height: 1em;
    padding: 7.5px 15px;
    border-radius: 20px;
}

/* Contact page styling */

/* Heading section */
#contact-heading {
    text-align: center;
    margin: 15px 15px 8px 15px;
}

#contact-heading p {
    padding: 0 10px 0 10px;
    margin-bottom: 1rem;
}

#contact-heading h2 {
    font-size: 175%;
    margin-bottom: 1rem;
}

#contact-heading a {
    color:#29796d;
}

/* Contact Form Section */

#contact-form {
    margin: 15px;
    font-size: 90%;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contact-form fieldset {
    border: none;
    margin-bottom: 15px;
}

#contact-form h3 {
    text-transform: none;
    font-size: 175%;
    padding-bottom: 10px;
}

#contact-form legend {
    font-weight: bold;
}

#owner-details > label, #dog-details > label, #walk-options > label{
    font-weight: bold;
}

.legend-heading {
    text-align: center;
}
/* To style the background of each form box section */
.form-box {
    background-color:rgba(41, 121, 109, 0.2);
    padding: 15px;
    max-width: 600px;
}

#box-1 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 5px;
}

#box-2 {
    margin-bottom: 5px;
}

#box-3 {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 15px;
}

.form-box label {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

input[type=text], input[type=tel], input[type=email], input[type=number] {
    height: 28px;
    padding: 0 5px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid 1px #5e5d5d;
}

.radio-buttons {
    accent-color:#29796d;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
 }

 /* #add-dog-toggle:checked>extra-dog {
    display: block;
}

#extra-dog {
    display: none;
} */

#dog-info, #walk-info {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #5e5d5d;
}

#days {
    accent-color:#29796d;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 50px;
    justify-content: center;
    gap: 20px;
}

#days label {
    text-align: center;
}

/* display: inline-block;
    column-count: 3;
    width: 100%;
    height: 130px; */

/* Footer */

#footer-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 15px;
}

#footer-box a {
    text-decoration: none;
    color:#5e5d5d;   
}

#footer-box a:hover {
    color:#29796d;
}

#contact-details {
    margin-left: 15px;
    font-size: 90%;
    align-self: center;
}

#contact-details p {
    padding-bottom: 3px;
}

#contact-details i {
    font-size: 160%;
    padding-right: 10px;
    color:#29796d
}

/* Hides email address on smaller mobiles to show phone icon only */
.footer-hidden {
    display: none;
}

/* Arranges icons on right of the footer on all device sizes */
#social-networks {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 15px;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #29796d;
}
/* Media query for larger mobiles and larger*/
@media screen and (min-width: 375px) {
    #logo-2 {
        font-size: 1.25rem;
        visibility: visible;
      }
     
    
    /* Footer media query */
    /* Reduce size of icons for better display with email contact now visible */
    #contact-details i {
        font-size: 120%;
    }  
    .footer-hidden {
        display: inline;
    }
   
}
/* Media query for tablets and larger*/
@media screen and (min-width: 768px) {

    /* Logo responsivity on tablet*/
    #logo {
        font-size: 280%;
    }
    
    #logo-2 {
        font-size: 1.50rem;
    }
    
    /* Nav menu to show text instead of burger on tablet */
    .nav-toggle-label {
        display: none;
    }
    /* Arrange menu items in a row within header - adpated from CI Love Running Project */
    nav {
        display:block;
        box-shadow: none;
        position: relative;
        width: fit-content;
    }

    #menu {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    main {
        margin-top: 90px;
    }
    
    #hero-cover-text {
        width: 40vw;
        margin-left: 25px;
    }

    #bio-box {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        text-align: start;
        flex-basis: auto;
        margin-bottom: 15px;
        margin-right: 10px;
    }

    #bio-image {
        padding-left: 20px;
    }

    #bio-text h3 {
        align-items: flex-start;
        text-align: start;
    }

    #bio-text p {
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }

    #reasons {
        flex-flow: row wrap;
        align-self: center;
    }

    #owner-reasons-image {
        height: 500px;
    }

    #dog-reasons-image {
        height: 500px;
    }

    /* Gallery styling on tablet */

    #gallery-heading {
        margin: 15px 15px 8px 15px;
        font-size: 130%;
        /* line-height: 1.1; */
     }
    
    #photos {
        column-count: 3;
        margin: 0 15px; 
    }

    #photos img {
        padding: 5px 0;
    }

    /* Footer styling on tablet */

    #contact-details {
        margin-left: 30px;
    }

    #social-networks {
        gap: 30px;
        margin-right: 30px;
        
    }
    
    #social-networks i {
        font-size: 175%;
    }
}
@media screen and (min-width: 1024px) {
    #dog-reasons-cover-text {

    }

    #owner-reasons-cover-text {
    
    }

    /* Responsive Gallery styling on laptops */
    #photos {
        column-count: 4;
    }
}