@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto+Slab:wght@100..900&family=Spicy+Rice&display=swap');

@font-face {
    font-family: 'Roadster Script';
    src: url('fonts/RoadsterScript-GOPGq.eot');
    src: url('fonts/RoadsterScript-GOPGq.eot?#iefix') format('embedded-opentype'),
        url('fonts/RoadsterScript-GOPGq.woff2') format('woff2'),
        url('fonts/RoadsterScript-GOPGq.woff') format('woff'),
        url('fonts/RoadsterScript-GOPGq.ttf') format('truetype'),
        url('fonts/RoadsterScript-GOPGq.svg#Roadster Script') format('svg');
    
  }

  /* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    background-color:#fcfcf4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Generic project styles */
    color: #5e5d5d;
    font-family: 'Roboto Slab', georgia, serif;
    font-weight: Regular 400;
}

h2, h3 {
    font-family: 'Mouse Memoirs', georgia, serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #5e5d5d;
}

.hidden-heading {
    display: none;
}

.in-line-logo {
    font-family: 'Roadster Script', 'Spicy Rice', Georgia, serif;
    letter-spacing: 2px;
    color: #29796d;
    text-transform: none;
}

/* Header */

 #logo {
    font-family: 'Roadster Script', 'Spicy Rice', Georgia, serif;
    font-size: 250%;
    letter-spacing: 2px;
    color: #29796d;
  }

  #logo-2 {
    font-family: 'Roboto Slab';
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 900;
  }

  header {
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #787878;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #fcfcf4;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 4px
}

#menu > li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #29796d;
}

/* navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #fcfcf4;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #787878;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #29796d;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    margin-top: 71px;
}

/* Hero section */
#hero {
    height: 500px;
    width: 100%;
    background: url("../images/hero-image-cliff-top-walk.jpg") no-repeat center/cover;
    position: relative;
}
#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(100, 134, 115, 0.7);
    font-size: 150%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 120px;
    padding: 20px 10px 20px 20px;
}

#cover-text > h2, #cover-text > h3 {
    /* Targets particular text that is a direct child of the h2 or h3 headers with id of cover-text */
    color: #fcfcf4;
    text-transform: none;
}

/* Why Book section */
#why-book > h2 {
    text-align: center;
    font-size: 175%;
    margin-top: 15px;
}

#circle-background-image {
    background: url("../images/hannah-bio-image.jpg") no-repeat center/cover;
    width: 80vw;
    height: 80vw;
    margin: 15px;
    margin-top: 0;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
}

#bio-image {
    display: flex;
    justify-content: center;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #29796d;
}